<div class="grid-start">
    <div class="titleimage1">
        <h2>Nouveau User</h2>
    </div>
    <div class="id2">
        <form action="/admin/ajout/users" method="POST">
            <label>Prénom
                <input type="text" name="prenom" required>
            </label>
            <label>Nom
                <input type="text" name="nom" required>
            </label>
            <label>email
                <input type="email" name="email" required>
            </label>
            <label>Mot de passe
                <input type="password" name="password" required>
            </label>
            <label>Âge
                <input type="text" name="age" required>
            </label>
            <label>Ville
                <input type="text" name="ville" required>
            </label>
            <% for (let i = 0; i < sections.length; i++) { %>  
            <h3 class="section"><%= sections[i]%></h3>
            <div class="multiradio-form aspiration">
                <% for (let j = 0; j < objectifs.length; j++) { %>
                    <% if (sections[i] === objectifs[j].category) { %>
                <label class="label5item"> <%= objectifs[j].title %>
                    <input type="checkbox" class ="aCocher<%= i %> dodo" name="objectif" value="<%= objectifs[j].id %>">
                </label>
                    <% } %>
                <% }; %>
            </div>
            <% } %>

            <h3 id="bucketList" class = "section">Bucket List</h3>
            <div class="multiradio-form aspiration">
                <% bucketList.forEach(defis => { %>
                    <label class="label5item"> <%= defis.title %>
                    <input type="checkbox" class ="aCocher6 dodo" name="challenge" value="<%= defis.id %>">
                </label>
                <% }); %>
            </div>

            <input class="button" id="leBouton" type="submit" value="SUIVANT">
        </form>
    </div>
</div>
<script type="text/javascript" src="/js/checkboxes_limit_admin.js"></script>   <!-- Pour limiter le nombre d'objectifs séléctionnables par l'user -->
