<div class="grid-start">
    <div class="titleimage1">
        <h2>Esprit</h2>
        <img src="/images/questionnaire/mind.png" alt="ce bon vieux Socrates">
    </div>
    <div class="quest mind2">
        <form action="/users/create/mind" method="POST">
            <div class="qcm">
                <input id="invisibleId" type="text" name="id" value="<%= id %>">        <!--L'invisible ID pour passer l'id de page en page-->
                
                <h3 class="thequestion">Par mois, combien de contenus pédagogiques consultes-tu ?(livres, cours en ligne, séries de tutos)</h3>
                    <div class="multiradio-form">
                        <label class="label5item">3 par mois
                            <input type="radio" name="contenuPedago" value="5" required>
                        </label>
                        <label class="label5item">2 par mois
                            <input type="radio" name="contenuPedago" value="4">
                        </label>
                        <label class="label5item">1 par mois
                            <input type="radio" name="contenuPedago" value="3">
                        </label>
                        <label class="label5item">1 tous les 2 mois
                            <input type="radio" name="contenuPedago" value="2">
                        </label>
                        <label class="label5item">moins de 3 par an
                            <input type="radio" name="contenuPedago" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">Webinaires/séminaires/ateliers ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">+ de 5 par an
                            <input type="radio" name="event" value="5" required>
                        </label>
                        <label class="label5item">3 - 5 par an
                            <input type="radio" name="event" value="4">
                        </label>
                        <label class="label5item">2 par an
                            <input type="radio" name="event" value="3">
                        </label>
                        <label class="label5item">1 par an
                            <input type="radio" name="event" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="event" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion"> Combien de fois médites-tu par semaine ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous les jours
                            <input type="radio" name="meditation" value="5" required>
                        </label>
                        <label class="label5item">3 fois par semaine
                            <input type="radio" name="meditation" value="4">
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="meditation" value="3">
                        </label>
                        <label class="label5item"> Au pif
                            <input type="radio" name="meditation" value="2">
                        </label>
                        <label class="label5item">Jamais
                            <input type="radio" name="meditation" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion"> Par mois, combien de fois écris-tu un log perso ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">1 fois par semaine ou plus
                            <input type="radio" name="logPerso" value="5" required>
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="logPerso" value="4">
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="logPerso" value="3">
                        </label>
                        <label class="label5item"> en de très rares occasions (moins de 5 par an)
                            <input type="radio" name="logPerso" value="2">
                        </label>
                        <label class="label5item">jamais
                            <input type="radio" name="logPerso" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Par mois, combien de fois fais tu le point ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">1 fois par semaine et plus.
                            <input type="radio" name="leBilan" value="5" required>
                        </label>
                        <label class="label5item">2-3 fois par mois
                            <input type="radio" name="leBilan" value="4">
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="leBilan" value="3">
                        </label>
                        <label class="label5item"> dans les moments critiques/doutes
                            <input type="radio" name="leBilan" value="2">
                        </label>
                        <label class="label5item">jamais
                            <input type="radio" name="leBilan" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Par mois, combien de fois bricoles-tu ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">tous les jours
                            <input type="radio" name="bricolage" value="5" required>
                        </label>
                        <label class="label5item">3 fois par semaine
                            <input type="radio" name="bricolage" value="4">
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="bricolage" value="3">
                        </label>
                        <label class="label5item">moins d'1 fois par semaine
                            <input type="radio" name="bricolage" value="2">
                        </label>
                        <label class="label5item">quasiment jamais
                            <input type="radio" name="bricolage" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Pour toi fabriquer des objets avec tes mains, c'est:</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Le Feu 
                            <input type="radio" name="manuel" value="5" required>
                        </label>
                        <label class="label5item">parfois amusant
                            <input type="radio" name="manuel" value="4">
                        </label>
                        <label class="label5item"> Utile.
                            <input type="radio" name="manuel" value="3">
                        </label>
                        <label class="label5item">barbant
                            <input type="radio" name="manuel" value="2">
                        </label>
                        <label class="label5item">La pire des corvée 
                            <input type="radio" name="manuel" value="1">
                        </label>
                    </div>
            </div>



            <div class="qcm">
                <h3 class="thequestion">Bob Bricoleur dans l'âme ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Totalement
                            <input type="radio" name="bricolage" value="5" required>
                        </label>
                        <label class="label5item">plutôt habile
                            <input type="radio" name="bricolage" value="4">
                        </label>
                        <label class="label5item">Dans la moyenne
                            <input type="radio" name="bricolage" value="3">
                        </label>
                        <label class="label5item">bof bof
                            <input type="radio" name="bricolage" value="2">
                        </label>
                        <label class="label5item">pas du tout
                            <input type="radio" name="bricolage" value="1">
                        </label>
                    </div>
            </div>

            <div class="bonus">
                <label> Le trait de caractère que tu voudrais développer.
                    <select name="caractere">
                        <option class="groupe-option">Caractere</option>
                        <% for(let i = 0; i < caractere.length; i++) { %>
                            <option value="<%= caractere[i] %>"><%= caractere[i] %></option>
                        <% }; %>
                    </select>
                </label> 
                <label> Ta discipline
                    <select name="discipline">
                        <option class="groupe-option">Artisanat</option>
                        <% for(let i = 0; i < artisanat.length; i++) { %>
                            <option value="<%= artisanat[i] %>"><%= artisanat[i] %></option>
                        <% }; %>
                        <option class="groupe-option">Sciences Pures</option>
                        <% for(let i = 0; i < sciencePure.length; i++) { %>
                            <option value="<%= sciencePure[i] %>"><%= sciencePure[i] %></option>
                        <% }; %>
                        <option class="groupe-option">Sciences Sociales</option>
                        <% for(let i = 0; i < scienceSociale.length; i++) { %>
                            <option value="<%= scienceSociale[i] %>"><%= scienceSociale[i] %></option>
                        <% }; %>
                    </select>
                </label>

            </div>

            <div class="qcm">
                <h3 class="thequestion">Un jour, tu seras...</h3>
                    <div class="multiradio-form aspiration">
                        <label class="label5item"> Un Erudit
                            <input type="radio" name="aspirationEsprit" value="La Voie de L'Erudit" required>
                        </label>
                        <label class="label5item"> L'Expert à la Stephen Hawkins
                            <input type="radio" name="aspirationEsprit" value="La Voie de L'Expert">
                        </label>
                        <label class="label5item"> Un Polymath (maître de plusieurs sciences)
                            <input type="radio" name="aspirationEsprit" value="La Voie du Polymath">
                        </label>
                        <label class="label5item"> Un génie Pratique
                            <input type="radio" name="aspirationEsprit" value="La Voie du Rusé">
                        </label>
                    </div>
            </div>


            <input class="button" type="submit" value="SUIVANT">
        </div>
    </form>
</div>