<div class="grid-start">
    <div class="titleimage1">
        <h2>Corps et Vitalité</h2>
        <img src="/images/questionnaire/body.png" alt="un gros point d'interrogation. Décline ton identité">
    </div>
    <div class="quest corps2">
        <form action="/users/create/body" method="POST">
            <input id="invisibleId" type="text" name="id" value="<%= id %>">
            <div class="qcm">
                <h3 class="thequestion">A quelle fréquence coures-tu ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">2 fois par semaine
                            <input type="radio" name="course" value="5" required>
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="course" value="4">
                        </label>
                        <label class="label5item">1 fois tous les 10 jours
                            <input type="radio" name="course" value="3">
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="course" value="2">
                        </label>
                        <label class="label5item">moins d'1 fois par mois
                            <input type="radio" name="course" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion">A quelle fréquence pratiques-tu un sport de puissance ? (foot, basket, boxe, HIIT) ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">2 fois par semaine
                            <input type="radio" name="puissance" value="5" required>
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="puissance" value="4">
                        </label>
                        <label class="label5item">1 fois tous les 10 jours
                            <input type="radio" name="puissance" value="3">
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="puissance" value="2">
                        </label>
                        <label class="label5item">moins d'1 fois par mois
                            <input type="radio" name="puissance" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion">En terme de puissance/endurance, tu es...</h3>
                    <div class="multiradio-form">
                        <label class="label5item">un Top performer
                            <input type="radio" name="gradePuissance" value="5" required>
                        </label>
                        <label class="label5item">Au dessus de la moyenne
                            <input type="radio" name="gradePuissance" value="4">
                        </label>
                        <label class="label5item">Dans la moyenne
                            <input type="radio" name="gradePuissance" value="3">
                        </label>
                        <label class="label5item">Un peu en dessous de la moyenne
                            <input type="radio" name="gradePuissance" value="2">
                        </label>
                        <label class="label5item">Pas au top, loin de là...
                            <input type="radio" name="gradePuissance" value="1">
                        </label>
                    </div>
            </div>


            <div class="qcm">
                <h3 class="thequestion">A quelle fréquence entraînes-tu ton adresse/technique ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">2 fois par semaine
                            <input type="radio" name="technique" value="5" required>
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="technique" value="4">
                        </label>
                        <label class="label5item">1 fois tous les 10 jours
                            <input type="radio" name="technique" value="3">
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="technique" value="2">
                        </label>
                        <label class="label5item">moins d'1 fois par mois
                            <input type="radio" name="technique" value="1">
                        </label>
                    </div>
            </div>


            <div class="qcm">
                <h3 class="thequestion">Quand tu pratiques un sport, tu te focalises sur la technique ou la puissance ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">100% technique
                            <input type="radio" name="techniqueOuPuissance" value="5" required>
                        </label>
                        <label class="label5item">Plus sur la technique
                            <input type="radio" name="techniqueOuPuissance" value="4">
                        </label>
                        <label class="label5item">50% technique / 50% puissance
                            <input type="radio" name="techniqueOuPuissance" value="3">
                        </label>
                        <label class="label5item">Plus sur la puissance
                            <input type="radio" name="techniqueOuPuissance" value="2">
                        </label>
                        <label class="label5item">100% technique
                            <input type="radio" name="techniqueOuPuissance" value="1">
                        </label>
                    </div>
            </div>



            <div class="qcm">
                <h3 class="thequestion">En terme d'adresse générale, tes amis disent que tu es...</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Super habile
                            <input type="radio" name="adresse" value="5" required>
                        </label>
                        <label class="label5item">Un peu au dessus de la moyenne
                            <input type="radio" name="adresse" value="4">
                        </label>
                        <label class="label5item">Dans la moyenne
                            <input type="radio" name="adresse" value="3">
                        </label>
                        <label class="label5item">Un peu en dessous de la moyenne
                            <input type="radio" name="adresse" value="2">
                        </label>
                        <label class="label5item">2 mains gauche
                            <input type="radio" name="adresse" value="1">
                        </label>
                    </div>
            </div>





            
            <div class="qcm">
                <h3 class="thequestion">A quelle fréquence pratiques-tu un sport d'équilibre ? (yoga, danse, arts martiaux) ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">2 fois par semaine
                            <input type="radio" name="souplesse" value="5" required>
                        </label>
                        <label class="label5item">1 fois par semaine
                            <input type="radio" name="souplesse" value="4">
                        </label>
                        <label class="label5item">1 fois tous les 10 jours
                            <input type="radio" name="souplesse" value="3">
                        </label>
                        <label class="label5item">2 fois par mois
                            <input type="radio" name="souplesse" value="2">
                        </label>
                        <label class="label5item">moins d'1 fois par mois
                            <input type="radio" name="souplesse" value="1">
                        </label>
                    </div>
            </div>




            <div class="qcm">
                <h3 class="thequestion"> A quelle fréquence t'étires-tu ? </h3>
                    <div class="multiradio-form">
                        <label class="label5item">Tous les jours
                            <input type="radio" name="etirement" value="5" required>
                        </label>
                        <label class="label5item">5 fois par semaine
                            <input type="radio" name="etirement" value="4">
                        </label>
                        <label class="label5item">3 fois par semaine
                            <input type="radio" name="etirement" value="3">
                        </label>
                        <label class="label5item"> 1 fois par semaine
                            <input type="radio" name="etirement" value="2">
                        </label>
                        <label class="label5item">moins d'une fois par semaine
                            <input type="radio" name="etirement" value="1">
                        </label>
                    </div>
            </div>


            <div class="qcm">
                <h3 class="thequestion">En terme de souplesse/équilibre, tu es...</h3>
                    <div class="multiradio-form">
                        <label class="label5item">Un Contorsionniste
                            <input type="radio" name="gradeSouplesse" value="5" required>
                        </label>
                        <label class="label5item">Au dessus de la moyenne
                            <input type="radio" name="gradeSouplesse" value="4">
                        </label>
                        <label class="label5item">Dans la moyenne
                            <input type="radio" name="gradeSouplesse" value="3">
                        </label>
                        <label class="label5item">Un peu en dessous de la moyenne
                            <input type="radio" name="gradeSouplesse" value="2">
                        </label>
                        <label class="label5item">Aussi souple qu'un frigo...
                            <input type="radio" name="gradeSouplesse" value="1">
                        </label>
                    </div>
            </div>

            <div class="qcm">
                <h3 class="thequestion"> As-tu souvent mal au dos le matin ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">jamais
                            <input type="radio" name="dos" value="5" required>
                        </label>
                        <label class="label5item">très rarement
                            <input type="radio" name="dos" value="4">
                        </label>
                        <label class="label5item">3 fois par semaine
                            <input type="radio" name="dos" value="3">
                        </label>
                        <label class="label5item"> 3-4 fois par semaine
                            <input type="radio" name="dos" value="2">
                        </label>
                        <label class="label5item">tous les jours
                            <input type="radio" name="dos" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion"> 2 L d'eau par jour ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">tous les jours
                            <input type="radio" name="eau" value="5" required>
                        </label>
                        <label class="label5item">5 fois par semaine
                            <input type="radio" name="eau" value="4">
                        </label>
                        <label class="label5item">3 fois par semaine
                            <input type="radio" name="eau" value="3">
                        </label>
                        <label class="label5item"> 1 semaine fois par semaine
                            <input type="radio" name="eau" value="2">
                        </label>
                        <label class="label5item">moins d'une fois par semaine
                            <input type="radio" name="eau" value="1">
                        </label>
                    </div>
            </div>
            <div class="qcm">
                <h3 class="thequestion"> Constipation/mois ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">jamais
                            <input type="radio" name="constipation" value="5" required>
                        </label>
                        <label class="label5item">1 fois par mois
                            <input type="radio" name="constipation" value="4">
                        </label>
                        <label class="label5item">2-3 fois par mois
                            <input type="radio" name="constipation" value="3">
                        </label>
                        <label class="label5item"> 1 fois par semaine
                            <input type="radio" name="constipation" value="2">
                        </label>
                        <label class="label5item">plusieurs fois par semaine
                            <input type="radio" name="constipation" value="1">
                        </label>
                    </div>
            </div>
    
    
            <div class="qcm">
                <h3 class="thequestion"> Etirement après le sport ?</h3>
                    <div class="multiradio-form">
                        <label class="label5item">à chaque fois
                            <input type="radio" name="recuperation" value="5" required>
                        </label>
                        <label class="label5item">3 fois sur 4
                            <input type="radio" name="recuperation" value="4">
                        </label>
                        <label class="label5item">1 fois sur 2
                            <input type="radio" name="recuperation" value="3">
                        </label>
                        <label class="label5item"> au pif
                            <input type="radio" name="recuperation" value="2">
                        </label>
                        <label class="label5item">jamais
                            <input type="radio" name="recuperation" value="1">
                        </label>
                    </div>
            </div>
    
    
            <div class="bonus"> 
                <label>Ton sport préféré ?
                    <select name="sportFavori1">
                        <option class="groupe-option">Sport Collectif</option>
                        <% for(let i = 0; i < sportCo.length; i++) { %>
                            <option value="<%= sportCo[i] %>"><%= sportCo[i] %></option>
                        <% }; %>
                        <option class="groupe-option">Sport Individuel</option>
                        <% for(let i = 0; i < sportIndiv.length; i++) { %>
                            <option value="<%= sportIndiv[i] %>"><%= sportIndiv[i] %></option>
                        <% }; %>
                    </select>
                </label>

                <label>Ton 2nd sport préféré ?
                    <select name="sportFavori2">
                        <option class="groupe-option">Sport Collectif</option>
                        <% for(let i = 0; i < sportCo.length; i++) { %>
                            <option value="<%= sportCo[i] %>"><%= sportCo[i] %></option>
                        <% }; %>
                        <option class="groupe-option">Sport Individuel</option>
                        <% for(let i = 0; i < sportIndiv.length; i++) { %>
                            <option value="<%= sportIndiv[i] %>"><%= sportIndiv[i] %></option>
                        <% }; %>
                    </select>
                </label>

                <label>La partie du corps que tu te blesses souvent ?
                    <input type="text" name="zoneDeBlessure">
                </label>
                <label>Aimes-tu ton corps ?
                    <input type="text" name="loveBody">
                </label>
            </div>

            <div class="qcm">
                <h3 class="thequestion">Ton idéal physique...</h3>
                    <div class="multiradio-form aspiration">
                        <label class="label5item"> Un Olympien
                            <input type="radio" name="aspirationCorps" value="La Voie de L'Olympien" required>
                        </label>
                        <label class="label5item"> Un As
                            <input type="radio" name="aspirationCorps" value="La Voie de L'As">
                        </label>
                        <label class="label5item"> Un Roi de La Souplesse
                            <input type="radio" name="aspirationCorps" value="La Voie de La Souplesse">
                        </label>
                        <label class="label5item"> Un Temple
                            <input type="radio" name="aspirationCorps" value="La Voie du Maintien">
                        </label>
                    </div>
            </div>


            <input class="button" type="submit" value="SUIVANT">
        </form>
        
    </div>
</div>