<div class="grid-hero">

    <!--UN RECAP DES STATS-->
        <div class="progression1">
            <h1><%=hero.prenom %></h1>
            <% for (let i = 0; i < categorie.length -2; i++) {     %>               <!-- -2 pour exclure la section fantôme ET bucket List -->

            <div class="competence corps">
                <div class="stats">



 


                    <a href="#target-detail-corps" class="categorie-skills">
                        <h2><%=categorie[i].titrePage %></h2>
                    </a>
                </div>
                <img src="<%= `/images/questionnaire/${categorie[i].namePic} `%>" alt="<%= categorie[i].namePicAlt %>">
                
                <% for (let j = 0; j < quetes.length; j++) {     %>                     
                    <%  if (quetes[j].category === categorie[i].sectionName) { %>
                        <h3><%= quetes[j].title %></h3>
                            <% for (let l = 0; l < toDo.length; l++) {     %>
                                <%  if (toDo[l].code_goal === quetes[j].code_goal) { %>
                                    <form class= "form-note" action="/users/taskDone" method="POST">
                                    <h4><%= toDo[l].title %></h4>                  
                                    <input  type="hidden" name="routineEffectuee" value="<%= toDo[l].id %>">  <!-- Nous permet de récuperer la routineEffectuée par l'user. Nous servira pour créer un nouvel objet routineDone (voir module maJroutine) -->

                                    <h5>Comment cela s'est passé ?</h5>
                                        <select name="noteObtenue">
                                            <option value="0">F - J'ai rien foutu</option>
                                            <option value="0.25">D - C'était super dur</option>
                                            <option value="0.50">C - Challengeant</option>
                                            <option value="0.75">B - Ca passe</option>
                                            <option value="1">A - Pas de difficultés</option>
                                            <option value="1.25">S- Trop facile</option>
                                        </select>
                                        <input type="submit" value="Fait" class="booster">
                                    </form>
                           <%   }      %>
                         <%   }      %>
                    <%   }      %>
                <% } %>
            <% } %>
            </div>
        
        </div>
    







 
    
        
    
    <!--UNE PHRASE INSPIRANTE QUI CHANGE CHAQUE JOUR DE MANIERE ALEATOIRE-->
    
        <div class="inspiration4">
            <h2>Inspiration du jour</h2>
            <h3>
                <%= inspiration.title %>
            </h3>    
        </div>
</div>