<div class="grid-admin">
   <a href="  index/<%= userId %>/ActivitePasseesCorps">
       <h2 class="select-admin adminCorps">Corps</h2> 
    </a>
    <a href="  index/<%= userId %>/ActivitePasseesEsprit">
      <h2 class="select-admin adminEsprit">Esprit</h2> 
     </a>
     <a href="  index/<%= userId %>/ActivitePasseesSocial">
      <h2 class="select-admin adminSocial">Social</h2> 
     </a>
     <a href="  index/<%= userId %>/ActivitePasseesArts">
      <h2 class="select-admin adminArts">Arts</h2> 
     </a>
     <a href="  index/<%= userId %>/ActivitePasseesStyle">
      <h2 class="select-admin adminStyle">Style</h2> 
     </a>
     <a href="  index/<%= userId %>/ActivitePasseesCooking">
      <h2 class="select-admin adminCooking">Cooking</h2> 
     </a>
</div>
