    <!--LES ACTIVITES PASSEES-->
    <div class="old-activities2">
        <div class="encours">
            <% if (Array.isArray(activitesPassees) && activitesPassees.length) {  %>          <!--Avec cette égalité, nous vérifions si activitesPassees est bien array et s'il contient des éléments (s'il a une "length" donc)-->


            <h3>Défis Relevés</h3>
            <% activitesPassees.forEach(resultats => { %>
                    <div class="activite-done">
                <h4><%= resultats.sousCategorie %></h4>
                <h5><%= resultats.titre %></h5>
                <h6> <%= resultats.grade %> </h6>
            </div>
            <div class="detail-activite">   <!--S'affiche quand l'user clique sur l'activite. Affiche le détail/ptsExp/Voie-->
                <h5 class="scoreActivite">PTS d'EXP: <%= resultats.totalPtsExp %></h5>
                <h5><span class="notepreRequis">F:</span> <%= resultats.prerequisF %></h5>
                <h5><span class="notepreRequis">D:</span> <%= resultats.prerequisD %></h5>
                <h5><span class="notepreRequis">C:</span> <%= resultats.prerequisC %></h5>
                <h5><span class="notepreRequis">B:</span> <%= resultats.prerequisB %></h5>
                <h5><span class="notepreRequis">A:</span> <%= resultats.prerequisA %></h5>
                <h5><span class="notepreRequis">S:</span> <%= resultats.prerequisS %></h5>
            </div>
            <% }); %>
           <% } else {    %>
            <h3>Pas d'activités dans cette catégorie</h3>
         <% }  %>
        </div>
    </div>