<div class="grid-start">
    <div class="titleimage1">
        <h2>Bienvenue Maître</h2>
    </div>
    <div class=" quest adminPage">
            <h3>Titre:<%= defi.titre%>
            </h3>
            <h3>Description:<%= defi.description %>
            </h3>
            <h3>Sous-Catégorie:<%= defi.sousCategorie %>
            </h3>
            <h3>Difficulté:<%= defi.difficulte %>
            </h3>
            <h3>% Puissance:<%= defi.pourcentagePuissance %>
            </h3>
            <h3>% Technique:<%= defi.pourcentageTechnique %>
            </h3>
            <h3>% Souplesse:<%= defi.pourcentageSouplesse %>
            </h3>
            <h3>% Santé:<%= defi.pourcentageSante %>
            </h3>
            <h3>Prérequis F:<%= defi.prerequisF %>
            </h3>
            <h3>Prérequis D:<%= defi.prerequisD %>
            </h3>
            <h3>Prérequis C:<%= defi.prerequisC %>
            </h3>
            <h3>Prérequis B:<%= defi.prerequisB %>
            </h3>
            <h3>Prérequis A:<%= defi.prerequisA %>
            </h3>
            <h3>Prérequis S:<%= defi.prerequisS %>
            </h3>
            <h3>Points d'expérience:<%= defi.totalPtsExp %>
            </h3>
            <h3>Voie concernée:<%= defi.voieActivite %>
            </h3>

            <a href="/admin/activites/create" class="createActivity">
                Menu Création
            </a>
    </div>
</div>