<div class="grid-start">
    <div class="titleimage1">
        <h2>Bienvenue Maître</h2>
    </div>
    <div class=" quest id2">
            <h3>Titre: <%= defi.titre%>
            </h3>
            <h3>Description:<%= defi.description %>
            </h3>
            <h3>Categorie:<%= defi.categorie %>
            </h3>
            <h3>Sous-Categorie<%= defi.sousCategorie %>
            </h3>
            <h3>Difficulte<%= defi.difficulte %>
            </h3>
            <h3>% HardSkills<%= defi.pourcentageHardSkills %>
            </h3>
            <h3>% Soul<%= defi.pourcentageSoul %>
            </h3>
            <h3>% Crafty<%= defi.pourcentageCrafty %>
            </h3>
            <h3>Prérequis F<%= defi.prerequisF %>
            </h3>
            <h3>Prérequis D<%= defi.prerequisD %>
            </h3>
            <h3>Prérequis C<%= defi.prerequisC %>
            </h3>
            <h3>Prérequis B<%= defi.prerequisB %>
            </h3>
            <h3>Prérequis A<%= defi.prerequisA %>
            </h3>
            <h3>Prérequis S<%= defi.prerequisS %>
            </h3>
            <h3>Points d'expérience:<%= defi.totalPtsExp %>
            </h3>
            <h3>Voie concernée:<%= defi.voieActivite %>
            </h3>

            <a href="/admin/activites/create" class="createActivity">
                Menu Création
            </a>
    </div>
</div>