<div class="grid-start">
    <div class="titleimage1">
        <h2>Bienvenue Maître</h2>
    </div>
    <div class=" quest id2">
            <h3>Titre: <%= defi.titre%>
            </h3>
            <h3>Description: <%= defi.description %>
            </h3>
            <h3>Categorie<%= defi.categorie %>
            </h3>
            <h3>sousCategorie<%= defi.sousCategorie %>
            </h3>
            <h3>Difficulte<%= defi.difficulte %>
            </h3>
            <h3>pourcentagePractice:<%= defi.pourcentagePractice %>
            </h3>
            <h3>pourcentageCulture:<%= defi.pourcentageCulture %>
            </h3>
            <h3>pourcentageExpressivite: <%= defi.pourcentageExpressivite %>
            </h3>
            <h3>prerequisF: <%= defi.prerequisF %>
            </h3>
            <h3>prerequisD: <%= defi.prerequisD %>
            </h3>
            <h3>prerequisC:<%= defi.prerequisC %>
            </h3>
            <h3>prerequisB: <%= defi.prerequisB %>
            </h3>
            <h3>prerequisA: <%= defi.prerequisA %>
            </h3>
            <h3>prerequisS: <%= defi.prerequisS %>
            </h3>

            <a href="/admin/activites/create" class="createActivity">
                Menu Création
            </a>
    </div>
</div>