<div class="grid-start">
    <div class="titleimage1">
        <h2>Modifier Routine</h2>
    </div>
    <div class="id2">
        <form action="/admin/modifyElement/<%=schema %>/<%=element.id %>" method="POST">
            <label>Title
                <input type="text" name="title" value="<%=element.title %>" required>
            </label>
            <label>Description
                <input type="text" name="description" value="<%=element.description %>" required>
            <label>Conseil
                <input type="text" name="advice" value="<%=element.advice %>" required>
            </label>
            <label>Time (en minutes)
                <input type="text" name="time" value="<%=element.time %>" required>
            </label>
            <select name="code_goal">
                <option class="groupe-option">Code_Goal</option>
                <% for(let i = 0; i < sections.length; i++) { %>
                    <option class="groupe-option" value="<%=element.code_goal %>"><%=element.code_goal %></option>
                    <% for(let j = 0; j < sections[i].code_goal.length; j++) { %>
                        <option value="<%= sections[i].code_goal[j] %>"><%= sections[i].code_goal[j] %></option>
                    <% }; %>
                <% }; %>
            </select>
            <select name="category">
                <option class="groupe-option" value="<%=element.category %>"><%=element.category %></option>
                <% for(let i = 0; i < sections.length; i++) { %>
                    <option value="<%= sections[i].name %>"><%= sections[i].name %></option>
                <% }; %>
            </select>

           
            <input class="button" type="submit" value="SUIVANT">
        </form>
    </div>
</div>
