<div class="grid-start">
    <div class=" quest adminForm2">
        <form action="<%= `/admin/${activite._id}/Arts/update?_method=PUT`%>" method="POST">
            <label>Titre
                <input type="text" name="titre" value="<%= activite.titre %>" required>
            </label>
            <label>Description
                <textarea type="textarea" class="champText" name="description" value="<%= activite.description %>" required> <%= activite.description %></textarea>    <!--Pour textarea la valeur doit être placée initiale doit être placé entre les balises pour être visible. car différent d'un input. Fonctionne comme h1, h2, etc-->
            </label>
            <label>Categorie
                <input type="text" name="categorie" value="<%= activite.categorie %>" readonly>
            </label>
            <label>Sous-categorie
                <select name="sousCategorie" value="<%= activite.sousCategorie %>">
                    <option value="practice">Practice</option>
                    <option value ="culture">Culture</option>
                    <option value="expressivite">Expressivité</option>
                </select>
            </label>
            <label>Difficulté
                <input type="text" name="difficulte" value="<%= activite.difficulte %>" required>
            </label>
            <label>%Practice
                <input type="text" name="pourcentagePractice" value="<%= activite.pourcentagePractice %>" required>
            </label>
            <label>%Culture
                <input type="text" name="pourcentageCulture" value="<%= activite.pourcentageCulture %>" required>
            </label>
            <label>%Expressivité
                <input type="text" name="pourcentageExpressivite" value="<%= activite.pourcentageExpressivite %>" required>
            </label>
            <label>Prérequis F
                <input type="text" name="prerequisF" value="<%= activite.prerequisF %>" required>
            </label>
            <label>Prérequis D
                <input type="text" name="prerequisD" value="<%= activite.prerequisD %>" required>
            </label>
            <label>Prérequis C
                <input type="text" name="prerequisC" value="<%= activite.prerequisC %>" required>
            </label>
            <label>Prérequis B
                <input type="text" name="prerequisB" value="<%= activite.prerequisB %>" required>
            </label>
            <label>Prérequis A
                <input type="text" name="prerequisA" value="<%= activite.prerequisA %>" required>
            </label>
            <label>Prérequis S
                <input type="text" name="prerequisS" value="<%= activite.prerequisS %>" required>
            </label>
            <input id="buttonCreate" type="submit" value="MODIFIER">
        </form>
    </div>
</div>